# Environment variables
.env
.env.*
*.env
backend/.env
backend/.env.*
!.env.example
!backend/.env.example

# Certificates & Keys
certs/
backend/certs/
*.pem
*.cert
*.key
*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/

# Node / Frontend
node_modules/
dist/
*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
